.container {
    padding: 64px 0;
    background: linear-gradient(45deg, #010409, #0c203c);
    z-index: 6;
    position: relative;

    .content {
        display: flex;
        justify-content: space-between;
        position: relative;

        .info {
            display: flex;
            flex-direction: column;
            gap: 32px;
            position: relative;

            img {
                width: 380px;
            }

            .text {
                background: #f0f6fc;
                border-radius: 22px;
                margin-left: 32px;
                color: #151f2c;
                padding: 32px;
                position: absolute;
                bottom: -128px;
                left: 0;
                right: -208px;

                h1 {
                    font-size: 32px;
                    font-weight: 600;
                }

                p {
                    margin-top: 8px;
                    font-size: 18px;
                    font-weight: 300;
                }

                div {
                    display: flex;
                    gap: 22px;
                    justify-content: space-between;
                    align-items: center;

                    .redes {
                        
                        a {
                            display: block;
                            font-size: 28px;
                            display: inherit;

                            transition: all .3s;

                            &:hover {
                                transform: translateY(-4px);
                            }
                        }
                    }    
                }
            }
        }
        

        .menu {
            display: flex;
            align-items: center;
            position: absolute;
            right: 0;
            top: 64px;
            
            ul {
                position: relative;
                transform: skewY(-15deg);
                transition: 0.5s;

                li {
                    position: relative;
                    list-style: none;
                    width: 280px;
                    background: #1d3452;
                    padding: 22px;
                    z-index: var(--i);
                    transition: 0.5s;
                    font-size: 22px;

                    &.linksix {
                        --i:5;
                    }

                    &.linkfive {
                        --i:4;
                    }

                    &.linkfour {
                        --i:3;
                    }

                    &.linkthree{
                        --i:2;
                    }

                    &.linktwo {
                        --i:1;
                    }

                    &:hover a {
                        color: #152a44;
                    }

                    a {
                        color: #e0e6f2;
                        display: block;
                        text-transform: uppercase;
                        letter-spacing: 0.05rem;
                        transition: 0.5s;
                    }

                    &::before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: -60px;
                        width: 60px;
                        height: 100%;
                        background: #152a44;
                        transform-origin: right;
                        transform: skewY(45deg);
                        transition: 0.5s;
                    }

                    &:hover::before {
                        background: #e0e6f2;
                    }

                    &::after {
                        content: '';
                        position: absolute;
                        top: -60px;
                        left: 0;
                        width: 100%;
                        height: 60px;
                        background: #2c496e;
                        transform-origin: bottom;
                        transform: skewX(45deg);
                        transition: 0.5s;
                    }

                    &:hover::after {
                        background: #f6fcff;
                    }

                    &:hover {
                        background: #f0f6fc;
                        transform: translateX(-50px);
                    }

                    &:last-child::after {
                        box-shadow: -182px 174px 33px rgb(0 0 0 / 25%);
                    }
                }
            }
        }

        @media (max-width: 1000px) {
            .menu {
                display: none;
            }

            .info {
                position: unset;

                .text {
                    right: 0;
                    margin-left: 0;
                }
            }

            justify-content: center;
        }

        @media (max-width: 583px) {
            .info {
                .text {
                    padding: 16px 22px;

                    h1 {
                        font-size: 22px
                    }

                    div {
                        gap: 12px;

                        .redes {
                            a {
                                font-size: 18px;
                            }
                        }
                    }

                    p {
                        font-size: 16px;
                    }
                }
            }
        }

        @media (max-width: 436px) {
            .info {
                img {
                    width: 280px;
                }

                .text {
                    h1 {
                        font-size: 18px
                    }

                    p {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}