.content {

    line-height: 32px;
    font-size: 16px;
    text-align: justify;
    color: #555;

    h1 {
        font-size: 32px;
        font-weight: 600;
        margin-bottom: 16px;
        color: #000;
    }

    @media(max-width: 727px){
        font-size: 13px;
        text-align: unset;
        line-height: unset;
    }
}